<div class="sidebar">
  <div fxLayout="column" fxFlexFill>
    <div class="list-group-item" draggable="true" (dragstart)="onDragStart($event, 'table_chart')">
      <mat-icon>table_chart</mat-icon>
      <span>Table</span>
    </div>
    <div class="list-group-item" draggable="true" (dragstart)="onDragStart($event, 'insert_chart')">
      <mat-icon>insert_chart</mat-icon>
      <span>Plot</span>
    </div>
    <div class="list-group-item">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </div>
    <div class="list-group-item">
      <div>
        <form [formGroup]="gridForm" (ngSubmit)="onSubmit()" class="formSize">
          <mat-form-field appearance="outline" [style.width.%]=80>
            <mat-label>Rows: </mat-label>
            <input matInput id="rows" type="number" formControlName="rows" placeholder="Rows">
          </mat-form-field>
          <mat-form-field appearance="outline" [style.width.%]=80>
            <mat-label>Columns: </mat-label>
            <input matInput id="columns" type="number" formControlName="columns" placeholder="Columns">
          </mat-form-field>
          <mat-form-field appearance="outline" [style.width.%]=80>
            <mat-label>Cells Per Row: </mat-label>
            <input matInput id="cellsPerRow" type="number" formControlName="cellsPerRow" placeholder="Cells Per Row">
          </mat-form-field>
          <button mat-stroked-button color="accent" type="submit" [disabled]="!gridForm.valid">Generate</button>
        </form>
      </div>
    </div>
  </div>
</div>