<div class="container-fluid">
    <div class="row full-height">
        <div class="col full-height">
            <div class="grid-container" (dragover)="onDragOver($event)">
                <div class="grid-cell" *ngFor="let cell of gridCells; let i = index" (drop)="onDrop($event, i)">
                    <ng-container *ngIf="cell.itemName">
                        <mat-icon>{{ cell.itemName }}</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="!cell.itemName">
                        <span>Drop Here</span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>